html, body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* STYLES */
.page-container {
    background-color: black;
}

span {
    font-family: 'Titillium Web', Helvetica, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 60%;
}

#span-container {
    position: fixed;
    text-align: center;
    margin: -5rem;
    background-color: black;
}