html, body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* STYLES */

.page-container {
    padding-top: 30vh;
    height: 100vh;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
}

.smaller {
    text-shadow: 4px 4px black;
    font-size: 2.5rem;
}

@media only screen and (min-width:1025px) {
    h1 {
        font-size: 7rem;
    }

    .smaller {
        font-size: 5rem;
    }
}

.page-container {
    padding-top: 30vh;
    height: 100vh;
    text-align: center;
    color: white;
}

button {
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #0080FF;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.intitial {
    display: initial;
}

.after {
    display: none;
}

footer {
    text-align: center;
    color: white;
    background-color: #0080FF;
    padding: 1rem;
}